<h1>Register</h1>
<form action="/register" method = "POST">
    <div id = 'insert'>
        <label for="email">Email</label>
        <input type="text" id = "email" name = "email" required>
        <div class="errorUser"></div>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id = "password" name = "password" required>
        <div class="errorPassword"></div>
    </div>
    <button type="submit">Register</button>
</form>
<a href = "/login">Login</a>